.volumeSlider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    height: 10%;
}

.volumeSlider .sliderContainer {
    flex: 1;
    margin: 0 5px;
}

.volumeSlider div {
    display: flex;
    align-items: center;
}

.volumeSvgs {
    height: 15px;
    width: 15px;
}

.slider {
    width: 100%;
}