.siteInfos {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    height: 8%;
}

.siteInfos img {
    height: 20px;
    margin-right: 5px;
}

.websiteDomain {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}