.title {
    text-align: center;
    font-weight: bold;
    margin: 10px;
    height: 10%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    flex-direction: column;
}

.subTitle {
    color: #ccc;
}